* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('https://images.unsplash.com/photo-1511634829096-045a111727eb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8JTIycmFpbiUyMnxlbnwwfDB8MHx8fDI%3D');
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 50%;
    height: 30%;
    border-radius: 15px;
    background-color: rgba(202, 202, 202, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    font-family: 'Arial Narrow', Arial, sans-serif;
  }
  
  .card-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* gap: 5%; */
  }
  
  .card-item {
    height: 50px;
    border: 1px dashed purple;
    /* margin: auto 5%; */
  }
  
  .card-item:hover {
    cursor: pointer;
  }
  
  .main-input {
    background-color: rgba(0, 0, 0, 0);
    font-size: large;
    width: 80%;
    text-align: center;
    border-style: none;
    border-bottom: 1px solid #333;
  }
  
  .main-input:focus {
    outline: none;
  }
  
  .main-input::placeholder {
    color: #333;
  }
  